- hosts: all
  name: Prepare kubernetes clusters
  timeout: 2000
  tasks:
  - name: Copy prepare k8s cluster script to remote node
    ansible.builtin.copy:
      src: scripts/prepare-k8s-cluster.sh
      dest: /root/prepare-k8s-cluster.sh
      mode: '0755'

  - name: Deploy k8s cluster
    ansible.builtin.shell:
      PROXY_SERVER={{PROXY_SERVER | default()}}
      PROXY_PORT={{PROXY_PORT | default()}}
      K8S_VERSION={{K8S_VERSION | default()}}
      NETWORK_PLUGIN={{NETWORK_PLUGIN | default()}}
      /root/prepare-k8s-cluster.sh {{cluster_name}} {{pod_cidr}} {{service_cidr}} {{inventory_hostname}} > /root/prepare-k8s-cluster.log
